.input-box {
  position: absolute;
  top: 70%;
  left: 46%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 1230px;
  height: auto; /* Add height if needed, otherwise the content height will be used */
}
/* Modal container styles */
.modal-container {
  max-height: 60vh; /* Adjust height as needed */
  overflow-y: auto; /* Enables vertical scrolling */
}

/* Table styles */
.table-container {
  max-height: 400px; /* Adjust this value as needed */
  overflow-y: auto; /* Enables vertical scrolling */
}

.table {
  min-width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem; /* Adjust padding as needed */
  text-align: left;
  border-bottom: 1px solid #e5e7eb; /* Light gray border for rows */
}

  
  .input-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #000;
    color: white;
    font-size: 16px;
    outline: none;
  }
  
  .input-box button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: gray;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .input-box button.active {
    background-color: red;
  }
  
  @media (max-width: 768px) {
    .input-box {
      bottom: 10px;
      left: 10px;
      right: 10px;
    }
  
    .input-box input {
      font-size: 14px;
    }
  
    .input-box button {
      padding: 8px;
    }
  }
  